.DS_Store
[Tt]humbs.db

*.tlog
*.log

include/ogdf/internal/config_autogen.h
include/coin/config.h

*.user
*.sln
*.suo
*.sdf
*.opensdf
*.vcxproj
*.vcxproj.filters
Debug/
Release/

CMakeLists.txt.user
build/
build-*/
