[GENERAL]
#**********************************************************

compilerCommand = g++
# MAC USERS: if building fails, try the following line:
#compilerCommand = g++ -stdlib=libstdc++

compilerParams =

#* build static (false) or shared (true) libraries
sharedLib = false

#* command used to create a static library
libCommand = ar
#* command used to create a shared library
sharedlibCommand = g++

#* blank means don't call ranlib
ranlibCommand = ranlib

#* gccMessageLength: if not defined -> no param
#* set to 0 for use in IDEs (0 = no line breaks)
# gccMessageLength = 0

rmCommand = rm -rf
mkdirCommand = mkdir -p

installPrefix = /usr/local


[VERSIONS]
#**********************************************************
#* for each entry <XYZ>, makeMakefile will generate a
#*    <XYZ> and clean<XYZ> Make-target
debug = -g3 -O0 -DOGDF_DEBUG
release = -O2


[OGDF]
#**********************************************************

#* name of the static (import) library
libName = libOGDF.a
#* name of the shared library (.dll for Windows, .so for Linux)
sharedlibName = libOGDF.so

includeLegacyCode = false

#* Sets the memory manager used by OGDF (leave blank for default)
#* Possible values
#*   OGDF_MEMORY_POOL_TS
#*   OGDF_MEMORY_POOL_NTS
#*   OGDF_MEMORY_MALLOC_TS
memoryManager =


[COIN]
#**********************************************************
#* set to "true" to use COIN
useCoin = true

#* name of the static (import) library
libName = libCOIN.a
#* name of the shared library (.dll for Windows, .so for Linux)
sharedlibName = libCOIN.so

#==========================================================
#* Select your solvers for OGDF and ABACUS
#*
#* internal solvers (always available):
#*   CLP:   Coin's CLP solver
#*   SYM:   Coin's Symphony
#*
#* external solvers (must be installed)
#*   CPX:   IBM ILOG CPLEX
#*   GRB:   Gurobi Optimizer
#*

#* Default solver (one of CLP, SYM, CPX, GRB)
defaultSolver = CLP

#* External solvers (separated by semicolon)
externalSolvers =
# externalSolvers = CPX; GRB

#* Additional include directories (separated by semicolon) for external solvers
solverIncludes =
# Examples:
#   solverIncludes = /opt/ibm/ILOG/CPLEX_Studio1251/cplex/include/ilcplex
# or
#   solverIncludes = /opt/gurobi560/linux64/include

#* Additional linker options to use an external default solver. Only needed to link test suite.
solverLDFlags =
# Examples:
#   solverLDFlags = -L/opt/ibm/ILOG/CPLEX_Studio1251/cplex/lib/x86-64_sles10_4.1/static_pic/ -lcplex
# or
#   solverLDFlags = -L/opt/gurobi560/linux64/lib -lgurobi56

#==========================================================
