#**********************************************************
#* Default configuration file for OGDF
#*
#*   - used by makeVCProj.py
#*   - for Visual Studio 2005 and 2008
#*
#* Copy this file to makeVCProj.config and adapt to your
#* system. Please consult the documentation for further
#* details:
#*   http://www.ogdf.net/doku.php/tech:installvcc
#**********************************************************

[OGDF]
#**********************************************************
#* File name of project template file
templateFile = config/ogdf.vcproj.vs2008.template

#* File name of created project file
projectFile = ogdf.vcproj

#* Create a static library (false) or DLL (true)?
DLL = false

#* Enable OpenMP Support for OGDF?
#* (Set to false for Visual Studio Express Editions!)
OpenMP = true

#* Sets the memory manager used by OGDF (leave blank for default)
#* Possible values
#*   OGDF_MEMORY_POOL_TS
#*   OGDF_MEMORY_POOL_NTS
#*   OGDF_MEMORY_MALLOC_TS
memoryManager =


[COIN]
#**********************************************************
#* set to "true" to use COIN and ABACUS
useCoin = true

#* File name of COIN project template file
templateFile = config/coin.vcproj.vs2008.template

#* File name of created COIN project file
projectFile = coin.vcproj

#* Enable OpenMP Support for COIN?
#* (Set to false for Visual Studio Express Editions!)
OpenMP = true


#==========================================================
#* Select your solvers for OGDF and ABACUS
#*
#* internal solvers (always available):
#*   CLP:   Coin's CLP solver
#*   SYM:   Coin's Symphony
#*
#* external solvers (must be installed)
#*   CPX:   IBM ILOG CPLEX
#*   GRB:   Gurobi Optimizer
#*

#* Default solver (one of CLP, SYM, CPX, GRB)
defaultSolver = CLP

#* External solvers (separated by semicolon)
externalSolvers =
# externalSolvers = GRB; CPX

#* Additional include directories (separated by semicolon)
solverIncludes =
# solverIncludes = C:\gurobi501\win64\include; C:\Program Files\IBM\ILOG\CPLEX_Studio124\cplex\include\ilcplex

#* Additional libraries for external solvers (separated by semicolon)
#* (only used for building the DLL)
solverLibs_win32_release =
# solverLibs_win32_release = C:\gurobi501\win32\lib\gurobi50.lib
solverLibs_win32_debug   =
# solverLibs_win32_debug   = C:\gurobi501\win32\lib\gurobi50.lib
solverLibs_x64_release   =
# solverLibs_x64_release   = C:\gurobi501\win64\lib\gurobi50.lib; C:\Program Files\IBM\ILOG\CPLEX_Studio124\cplex\lib\x64_windows_vs2010\stat_mda\cplex124.lib
solverLibs_x64_debug     =
# solverLibs_x64_debug     = C:\gurobi501\win64\lib\gurobi50.lib; C:\Program Files\IBM\ILOG\CPLEX_Studio124\cplex\lib\x64_windows_vs2010\stat_mdd\cplex124.lib

#==========================================================
