name: Check, Build and Test

on:
  push:
  pull_request:
    branches: [master]
  release:
    types: [published]

# # Debug setup:
# env:
#   OGDF_UTILS_PREQUEL: "set -x"
#   CCACHE_DEBUG: 1
#   CCACHE_DEBUGDIR: ${{ github.workspace }}/ccache-debug

jobs:
  style:
    name: "Check code style"
    runs-on: ubuntu-latest
    container: docker.io/ogdf/clang:15
    steps:
      - name: "Add workspace as a safe directory in containers"
        run: git config --system --add safe.directory $GITHUB_WORKSPACE
      - uses: actions/checkout@v4
      - run: util/style/test_clang_format.sh
      - run: util/style/test_eols.sh
      - run: util/style/test_number_newlines.sh
      - run: util/style/test_line_length.sh
      - run: util/style/test_tabs.sh
      - run: util/style/test_macros.sh
      - run: util/style/test_license.sh
      - run: util/style/test_no_typedefs.sh
      - run: util/style/test_no_enums.sh
      - run: util/style/test_indent_comments.sh

  dirs:
    name: "Check directory structure"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Test directory structure
        run: util/test_directory_structure.sh

  docs:
    name: "Check Doxygen"
    runs-on: ubuntu-latest
    container: docker.io/ogdf/clang:15
    steps:
      - uses: actions/checkout@v4
      - run: util/test_doxygen.sh

  self-sufficiency:
    name: "Test self-sufficiency"
    runs-on: ubuntu-latest
    env:
      CCACHE_COMPILERCHECK: "%compiler% -v"
    steps:
      - uses: actions/checkout@v4
      - name: Set-up ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}
      - name: Test self-sufficiency
        run: |
          export PATH="/usr/lib/ccache:/usr/local/opt/ccache/libexec:$PATH"
          util/test_self-sufficiency.sh
      - uses: actions/upload-artifact@v3
        name: Upload ccache debug info
        if: ${{ env.CCACHE_DEBUG == 1 }}
        with:
          name: ${{ github.job }}
          path: ${{ github.workspace }}/ccache-debug

  sonar:
    name: "Static Analysis"
    runs-on: ubuntu-latest
    container: docker.io/ogdf/clang:15
    needs: [style, dirs, self-sufficiency, docs]
    env:
      CCACHE_COMPILERCHECK: "%compiler% -v"
    steps:
      - name: "Add workspace as a safe directory in containers"
        run: git config --system --add safe.directory $GITHUB_WORKSPACE
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # fetch full history for blame info
      - name: Install tools
        run: |
          apt-get update
          apt-get install -y curl gcovr
          pip install git+https://github.com/N-Coder/clang-tidy-converter.git
          curl https://raw.githubusercontent.com/matus-chochlik/ctcache/main/clang-tidy-cache -sSfo clang-tidy-cache
          echo -e "#!""/bin/bash\n$(realpath clang-tidy-cache) $(which clang-tidy) \"\$@\"" >> clang-tidy
          echo -e "#!""/bin/bash\nllvm-cov-15 gcov \"\$@\"" >> gcov
          chmod +x clang-tidy-cache clang-tidy gcov
        shell: bash
      - name: Install sonar-scanner
        uses: SonarSource/sonarcloud-github-c-cpp@v2
      - name: Set-up ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}
      - name: Set-up clang-tidy cache
        uses: actions/cache@v3
        with:
          path: .ctcache
          key: clang-tidy-cache
      - name: Run analysis
        env:
          CTCACHE_DIR: .ctcache
          # CTCACHE_DUMP: ${{ env.CCACHE_DEBUG }} # defining the var is enough to enable
        run: |
          PATH="$(pwd):$PATH"
          util/sonar.sh -DOGDF_ARCH=haswell -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
          find .ctcache -mtime +7 -delete
          cat sonar/clang-tidy.txt | python3 -m clang_tidy_converter sq > sonar/clang-tidy.json
        shell: bash
      - name: Report unused files
        run: cat sonar/unused-headers.txt
      - name: Run sonar-scanner
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: sonar-scanner
      - name: Store logs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: sonar
          path: sonar/
      - uses: actions/upload-artifact@v3
        name: Upload ccache debug info
        if: ${{ env.CCACHE_DEBUG == 1 }}
        with:
          name: ${{ github.job }}
          path: ${{ github.workspace }}/ccache-debug

  build-linux:
    name: "Test ${{ matrix.mode }} build on Linux with ${{ matrix.compiler }}"
    strategy:
      matrix:
        mode: [debug, release]
        compiler: ['gcc:7', 'gcc:10', 'clang:15']
    runs-on: ubuntu-latest
    container: docker.io/ogdf/${{ matrix.compiler }}
    needs: [style, dirs, self-sufficiency, docs]
    env:
      CCACHE_COMPILERCHECK: "%compiler% -v"
    steps:
      - name: Set compiler name
        run: |
          GH_COMPILER_NAME="${{ matrix.compiler }}"
          GH_COMPILER_NAME="${GH_COMPILER_NAME//:}"
          echo "GH_COMPILER_NAME=${GH_COMPILER_NAME}" >> "$GITHUB_ENV"
        shell: bash
      - name: "Add workspace as a safe directory in containers"
        run: git config --system --add safe.directory $GITHUB_WORKSPACE
      - uses: actions/checkout@v4
      - name: Set-up ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.compiler }}-${{ matrix.mode }}
      - name: Check ccache version
        run: ccache --version
      - name: Check CPU model
        run: lscpu
      - name: Test ${{ matrix.mode }} build with ${{ matrix.compiler }} and run
        run: |
          util/test_build_and_run.sh \
            ${{ matrix.compiler == 'gcc:7' && 'dynamic' || 'static' }} \
            ${{ matrix.mode }} \
            ${{ startsWith(matrix.compiler, 'gcc') && 'gcc' || 'clang' }} \
            default_s \
            -DOGDF_INCLUDE_CGAL=ON -DOGDF_ARCH=haswell \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
        # see "Cloud hosts used by GitHub-hosted runners" in the GH Actions docs
        # for the oldest used microarchitecture to use with OGDF_ARCH
      - uses: actions/upload-artifact@v3
        name: Upload ccache debug info
        if: ${{ env.CCACHE_DEBUG == 1 }}
        with:
          name: ${{ github.job }}-${{ env.GH_COMPILER_NAME }}-${{ matrix.mode }}
          path: ${{ github.workspace }}/ccache-debug

  build-macos:
    name: "Test ${{ matrix.mode }} build on MacOS"
    strategy:
      matrix:
        mode: [debug, release]
    runs-on: macos-latest
    needs: [style, dirs, self-sufficiency, docs]
    steps:
      - uses: actions/checkout@v4
      - run: brew install coreutils findutils
      - name: Set-up ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.mode }}
      - name: Test ${{ matrix.mode }} build and run
        run: |
          util/test_build_and_run.sh \
            static \
            ${{ matrix.mode }} \
            default_c \
            default_s \
            -DCMAKE_C_COMPILER_LAUNCHER=ccache -DCMAKE_CXX_COMPILER_LAUNCHER=ccache
      - uses: actions/upload-artifact@v3
        name: Upload ccache debug info
        if: ${{ env.CCACHE_DEBUG == 1 }}
        with:
          name: ${{ github.job }}-${{ matrix.mode }}
          path: ${{ github.workspace }}/ccache-debug

  build-windows:
    name: "Test ${{ matrix.mode }} build on Windows"
    strategy:
      matrix:
        mode: [debug, release]
    runs-on: windows-latest
    needs: [style, dirs, self-sufficiency, docs]
    steps:
      - uses: actions/checkout@v4
      - uses: microsoft/setup-msbuild@v1.3
      - name: Set-up ccache
        uses: hendrikmuhs/ccache-action@v1.2
        with:
          key: ${{ github.job }}-${{ matrix.mode }}
      - name: Test ${{ matrix.mode }} build and run
        run: powershell util\test_build_and_run.ps1 ${{ matrix.mode == 'debug' && '-debug' }}
        env:
          CMAKE_C_COMPILER_LAUNCHER: ccache.exe
          CMAKE_CXX_COMPILER_LAUNCHER: ccache.exe
      - uses: actions/upload-artifact@v3
        name: Upload ccache debug info
        if: ${{ env.CCACHE_DEBUG == 1 }}
        with:
          name: ${{ github.job }}-${{ matrix.mode }}
          path: ${{ github.workspace }}/ccache-debug

  # this is mostly used to keep the required status checks for PR merging simple
  summary:
    needs: [build-linux, build-macos, build-windows, sonar]
    name: "All tests succeeded"
    runs-on: ubuntu-latest
    steps:
      - run: echo "Everything worked!"
        shell: bash
